.circle-fa-button {
  width: 128px;
  height: 128px;
  background: $primary;
  border-radius: 100%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  &:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transition: 0.5s;
  }
}
